
.LPanelSide{
	position : absolute;
	top  : 50px;
	height : 100px;
	width : 32px;
	border : 2px solid #dcdcdc;
	background-color : #f7f7f7;
	background-image : -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
	background-image : -webkit-linear-gradient(top, #f7f7f7, #e7e7e7); 
	background-image : -moz-linear-gradient(top, #f7f7f7, #e7e7e7); 
	background-image : -ms-linear-gradient(top, #f7f7f7, #e7e7e7); 
	background-image : -o-linear-gradient(top, #f7f7f7, #e7e7e7); 
	overflow : hidden;
	cursor : pointer;
	font-size : 15px;
	display : inline-block;
	-webkit-box-sizing : border-box; 
	-moz-box-sizing : border-box; 
	box-sizing : border-box; 
	margin : 0;
	padding : 0;
	box-shadow : 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
	z-index : 7;
}

.LargePanelSideRight{
	right : -2px;
	margin-right : 0px;
}
.LargePanelSideLeft{
	left : -2px;
	margin-left : 0px;
}

.LargePanelSideVerticalText {
	position : absolute;
	height : 100px;
	width : 32px;
	background-image: url('icons/next.png');
	background-position : center center;
	background-repeat : no-repeat;
	background-size:cover;
	background-size:contain; 
}

.PanelSideInner{
	position : absolute;
	top  : 0px;
	bottom  : 0px;
	width : 380px;
	padding : 10px;
	padding-top : 20px;
	margin-left:0px;
	border-left : 1px solid #dcdcdc;
	background-color : #f7f7f7;
	z-index : 8;
	overflow : auto;
	box-shadow : 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}

.LargePanelSideInnerRight{
	right : -402px;
}
.LargePanelSideInnerLeft{
	left : -402px;
}

.PanelSideCross{
	position : absolute;
	top  : 0px;
	right : 0px;
	width : 45px;
	height : 45px;
	line-height :45px;
	font-size : 35px;
	text-align : center;
	cursor : pointer;
	border : 1px dotted #dcdcdc;
	background-color : #FBF8EF;
	opacity : 0.5;
}
.PanelSideCross:hover{
	font-size : 33px;
	opacity : 1;
}
