
.roundboutongray {
	position : absolute;
	left : 20px;
	top  : 20px;
	border : solid 1px #E6E6E6;
	background-color : #F2F2F2;
	border-radius : 50%;
}

.roundboutongrayinner{
  position: relative;
  width: 80px;
  height: 80px;
  line-height: 80px;
  margin: 10px; 
}
.roundboutonbef10:before {
  top: -10px;
  left: -10px;
  bottom: -10px;
  right: -10px;
}
.roundboutonbef5:before {
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
}

.roundboutongrayicon{
	width: 80px;
	height: 80px;
	background-image: url('icons/next.png');
	background-position : center center;
	background-repeat : no-repeat;
	background-size:cover;
	opacity: 0.8;
}
.roundboutongrayicon:hover{
	transform:scale(0.95);
	opacity: 0.9;
}
.roundboutongrayicon:active{
	transform:scale(0.9);
	opacity: 1;
}



.roundboutongray{
  -webkit-box-sizing: border-box; 
  -moz-box-sizing:    border-box; 
  box-sizing:         border-box; 
  margin: 0;
  padding: 0;
}

.roundboutongray a {
  text-decoration: none;
  color: #DD6C4F;
  cursor : pointer;
  outline-style: none;
}

.roundboutongray a:hover {
  text-decoration:underline;
}

.roundboutongray a:focus { 
  outline: none;
}

.roundboutongray li:before {
  content: "";
  display: block;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: -1;
}

.roundboutongray a {
  display: block;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7); 
  color: #a7a7a7;
  position: relative;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}

.roundboutongray a:before {
  content: "";
  display: block;
  background: #fff;
  border-top: 2px solid #ddd;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  box-shadow: inset 0px 8px 48px #ddd;
}

.roundboutongray a:hover {
  text-decoration: none;
  color: #555;
  background: #f5f5f5;
}