
.viewport {
width: 90%;
height: 200px;
overflow: hidden;
left: 0;
position: absolute;
border:solid 0px gray;
}

.overview {
list-style: none;
position: absolute;
left: 0;
top: 0;
padding: 0;
margin: 0;
width: 90%;
border:solid 0px gray;
}

.scrollbar{ background: transparent url(bg-scrollbar-track-y.png) no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 15px; }
.track { background: transparent url(bg-scrollbar-trackend-y.png) no-repeat 0 100%; height: 100%; width:13px; position: relative; padding: 0 1px; }
.thumb { background: transparent url(bg-scrollbar-thumb-y.png) no-repeat 50% 100%; height: 20px; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
.thumb .end { background: transparent url(bg-scrollbar-thumb-y.png) no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; }
.disable { display: none; }