
.roundbluebox{
	position:absolute;
	border-radius: 15px;
	background: #eaf8fc;
	background-image: -moz-linear-gradient(#fff, #d4e8ec);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #d4e8ec),color-stop(1, #fff));
	-moz-border-radius: 35px;
	border-width: 1px;
	border-style: solid;
	border-color: #c4d9df #a4c3ca #83afb7;            
	padding: 10px;
	overflow: hidden;
}
.roundblue{
	border-radius: 5px;
	padding: 10px;
	border: 1px solid #a4c3ca;
	background: #f1f1f1;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
	overflow: hidden;
}
.roundbluetext{
	padding: 2px;
	overflow: auto;
}
			
.roundgraybox{
	position:absolute;
	background: #eaeaea;
	border-width: 1px;
	border-style: solid;
	border-color: #D8D8D8 #A4A4A4 #A4A4A4 #D8D8D8;            
	padding: 10px;
	overflow: hidden;
}
.roundgray{
	padding: 10px;
	border: 1px solid #fff;
	background: #f1f1f1;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
	overflow: hidden;
}
.roundgraytext{
	padding: 2px;
	overflow: auto;
}
